@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');

#root {
  min-height: 100vh;
  display: grid;
  font-family: 'Mukta', sans-serif;
  --bgColor : rgb(230,242,250);
  --themeColor: rgb(27, 154, 240);
  --hover: rgb(11, 110, 240);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppName{
  display: flex;
  margin: 0;
  width: 100%;
  height: 10%;
  flex:10%;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: var(--themeColor);
  justify-content: center;
}


.AppBody{
  flex:90%;
  display: flex;
}

.Navbar{
  display: flex;
  flex-direction: column;
  flex:15%;
  font-size: 20px;
  font-weight: bolder;
  border-right: 1px solid rgb(29, 27, 27);
  margin:0;
  list-style: none;
  padding-left: 0rem;
  background-color: var(--themeColor);
}

.Navbar li{
  padding-top: 1rem;
  margin: 0;
  border-bottom: 2px solid rgb(32, 32, 32);
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.Navbar li:hover{
  background-color: var(--hover);
}

.NavbarIcons {
  padding-right: 0.5rem;
}

.NavContent{
  flex:85%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color:var(--bgColor);
}

.NavContent-View{
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
}

.NavContent-Header{
  display: flex;
  flex: 10%;
  width: 100%;
  align-items: center;
  background-color: rgb(133, 214, 241)
}

.NavContent-Body{
  display: flex;
  flex: 90%;
  width: 100%;
}


.hide{
  display: none;
}

.ModalHide {
  display: none;
}

.ModalShow {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: black ;
  opacity: 95%;
  align-items: center;
}


.btn-green {
  margin: 1rem;
  background-color: green;
}

.btn-red {
  margin: 1rem;
  background-color: red;
}


