:root{
    --boxBG: rgb(230,242,250);
    --box-outline: rgb(27, 154, 240);;
    --borderRadius: 0.5rem;
}

.textbox{
    position: relative;
    width: 20rem;
    margin: 2rem;
    margin-left: 6rem;
}

.textbox-input{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:none;
    outline: none;
    padding: 1.25rem;
    border-color: none;
    border-radius: var(--borderRadius);
    font-size: 20px;
    border-color: rgb(27, 154, 240);;
    color: black;
}

.textbox-input:hover{
    border-color: yellow;

}

.textbox-input:focus{
    border-color: rgb(14, 245, 14);
}


.textbox-label{
    font-size: 16px;
    position: absolute;
    padding:0 0.1rem;
    top: -0.9rem;
    left: 0.8rem;
    cursor: text;
    transition: top 200ms ease-in, text 200ms ease-in;
    background-color: var(--boxBG);
    color: black; 
}


.selectbox{
    position: relative;
    width: 20rem;
    margin: 2rem;
    margin-left: 6rem;
}

.selectbox-text{
    display: inline-block;
    margin: 0;
    width: inherit;
    background:none;
    outline: none;
    padding: 1rem;
    border-radius: var(--borderRadius);
    font-size: 20px;
    border: 2px solid rgb(27, 154, 240);
    color: black;
    text-align: left;
}
.selectbox-text:hover{
    border-color: yellow;
}

.selectbox-text:focus{
    border-color: rgb(14, 245, 14);
}

.selectbox-select{
    border: none;
    width: auto;
    background: none;
    font-size: 20px;
    padding-left: 1rem;
}

.primary-button{
    width: 12rem;
    height: 3rem;
    border: none;
    margin:4rem;
    margin-left: 6rem;
    border-radius: var(--borderRadius);
    background-color: var(--themeColor);
    font-size: 15px;
    transition: text 1200ms ease-in;

}

.primary-button:hover{
    font-size: 20px;
    border: 2px solid rgb(2, 216, 2);
    background-color:var(--box-outline) ;
}

input[type=number] {
    -moz-appearance: textfield;
  }

input[type=date] {
    font-family: inherit;
    font-size: 20px;
    line-height: 1;
  }


  .Content-Header {
    display: flex;
    flex:auto;
    margin: 0;
    justify-content:space-evenly;
}

.Content-Header-Item{
    text-decoration: none;
    color: black;
    list-style: none;
    border: 2px solid black;
    margin-right: 5px; 
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-size: 15px;
}

.Content-Header-Item li{
    display: inline-flex;   
}