.tableFixedHead {
    display: flex;
    width: 100%;
    overflow: auto;
    margin-top: -1rem;
    margin-bottom: -1rem;
    position: absolute;
}

.table{
    border-collapse: collapse;
    width: 100%;
    position: relative;;
}

/* .tableHeaderRow {
    position: sticky;
} */


.tableHeaderData{
    border-right: 1px solid black;
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: rgb(191, 207, 243);
}



.tableRow:nth-child(even){
    background-color: rgb(224, 230, 243);
}

.tableRow:hover{
    background-color: rgb(131, 157, 241);
}
.tableData{
    padding: 8px;
}

.ModalContent{
    margin: auto;
    margin-top: 50px;
    background-color: rgb(27, 154, 240);
    width: 50%;
}

.ModalTable{
    margin:auto;
}