.NewEntry{
    display: grid;
}

.NewEntryBox{
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.NewEntryBoxField{
    display:grid;
    grid-template-columns: auto auto;
    margin-left: 2rem;
}

.Transaction-Type{
    display: flex;
    justify-content: center;
    margin-right: 10rem;
}

.button-Submit{
    display: flex;
    justify-content: center;
}

.Bill-Number{
    display: inline-flex;
    margin-left: 6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 18px;
}

.Bill-Number-Refresh{
    margin-left: 2rem;
}