.Content-Header {
    display: flex;
    flex:auto;
    margin: 0;
    justify-content:space-evenly;
}

.Content-Header-Item{
    text-decoration: none;
    color: black;
    list-style: none;
}

.Content-Header-Item li{
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid black;
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-size: 15px;
}